
@model IEnumerable<ElevationShop.ServiceReference1.Elevator>

@{
    ViewBag.Title = "Index";
}

<h2>List All Product</h2>
<br />
<table class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">
    <tr>
        <th>
            ID
        </th>
        <th>
            Elevation System
        </th>
        <th>
            Function
        </th>
        <th>
            Number
        </th>
        <th>
            Cost
        </th>
        <th>
            Description
        </th>
        <th>Option</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idElevator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.systemType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.functionElevator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descriptionElevator)
        </td>
        <td>@Html.ActionLink("Add to Cart", "addToCart", "Cart", new { id = item.idElevator }, null) | @Html.ActionLink("Feedback", "Index", "Feedback", new { idElevator = item.idElevator }, null)</td>
    </tr>
}

</table>
